* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container {
    width: 100%;
    height: 100vh;
    background: rgb(65, 61, 61);
    overflow: hidden;
}
.switch input {
    display: none;
}
.controls {
    position: absolute;
    bottom: 10%;
    left: 90vw;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100;
}
.controls label {
    width: 20px;
    height: 20px;
    background: rgb(115, 115, 238);
    border-radius: 20px;
    cursor: pointer;
    border: 3px solid rgb(115, 115, 238);
    transition: .5s;
}
.controls label:hover {
    border-color: white;
    background-color: white;
}
.switch input:nth-child(1):checked ~ .controls label:nth-child(1),
.switch input:nth-child(2):checked ~ .controls label:nth-child(2),
.switch input:nth-child(3):checked ~ .controls label:nth-child(3),
.switch input:nth-child(4):checked ~ .controls label:nth-child(4) {
    background: rgb(65, 61, 61);
}
.wrapper {
    position: relative;
    width: 400vw;
    display: flex;
    justify-content: space-around;
    transition: .5s;
    padding-top: 20px;
    overflow: hidden;
}
.wrapper .box {
    width: 90vw;
    height: 75vh;
    display: flex;
}
.wrapper .box:nth-child(1) {
    background-image: url(img/mrbear_1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}
.wrapper .box:nth-child(2) {
    background-image: url(img/mrbean_2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}
.wrapper .box:nth-child(3) {
    background-image: url(img/keep_going.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}
.wrapper .box:nth-child(4) {
    background-image: url(img/tupik.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
}
.switch input:nth-child(1):checked ~ .wrapper {
    left: 0;
}
.switch input:nth-child(2):checked ~ .wrapper {
    left: -100vw;
}
.switch input:nth-child(3):checked ~ .wrapper {
    left: -200vw;
}
.switch input:nth-child(4):checked ~ .wrapper {
    left: -300vw;
}
.content {
    display: flex;
    width: 400vw;
    justify-content: space-around;
    position: absolute;
    bottom: 10%;
    transition: .5s;
}
.content .text {
    width: 90vw;
}
.content .text p {
    color: white;
    font-size: 25px;
}
.switch input:nth-child(1):checked ~ .content {
    left: 0;
}
.switch input:nth-child(2):checked ~ .content {
    left: -100vw;
}
.switch input:nth-child(3):checked ~ .content {
    left: -200vw;
}
.switch input:nth-child(4):checked ~ .content {
    left: -300vw;
}
